#cardContainer {
    .recto {
    background-color: #333333;
    width: 800px;
    height: 450px;
    border-radius: 2rem;
    color: white;
}
}
.debut {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgLogo {
    width: 90px;
    height: 90px;
    margin: 20px 20px 20px 20px;
}

.header {
    display: flex;
    justify-content: space-between;

}

.center {
    display: flex;
    justify-content: first baseline;
    height: 70px;
    margin: 20px;

}

.imgpoul {
    height: 100px;
    display: flex;
    margin: 20px
}

h1{
    text-align: center;
}

.fleche {
    height: 90px;
    margin: 10px;
}

.date {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.number {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.fin {
    display: flex;
    justify-content: space-between;
     
}

.visa {
    height: 60px;
    margin: 10px 10px 10px 10px;
    display: flex;

}